
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal" [formGroup]="formulaire" (ngSubmit)="submitForm(formulaire)" novalidate>

                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 text-left control-label col-form-label">Image du livre</label>
                        <div class="col-md-3">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail"
                                    style="border: solid 1px; width: 200px; height: 150px; ">
                                    <img src="../../../assets/500.png" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail"
                                    style="max-width: 200px; max-height: 150px; line-height: 20px; "></div>
                                <div>
                                    <span class="btn btn-secondary btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> Choisir une
                                            image</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Changer</span>
                                        <input type="file" value="" name="photo" (change)="imgSelect($event)" required
                                            class="default" />
                                    </span>
                                    <!-- <a href="javascript:" type="reset" class="btn btn-theme04 fileupload-exists"
                                        data-dismiss="fileupload"
                                        style="margin-left: 1%;"
                                        ><i class="fa fa-trash-o"></i> Supprimer</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-sm-2 text-left control-label col-form-label">Fichier du
                            livre</label>
                        <div class="controls col-md-5">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-secondary btn-file">
                                    <span class="fileupload-new"><i class="fa fa-paperclip"></i> Choisir un
                                        fichier</span>
                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                    <input type="file" class="default" value="" name="livre"
                                        (change)="livreSelect($event)" required />
                                </span>
                                <span class="fileupload-preview" style="margin-left:5px;"></span>
                                <a href="" class="close fileupload-exists" data-dismiss="fileupload"
                                    style="float: none; margin-left:5px;"></a>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="titre" class="col-sm-2 text-left control-label col-form-label">Titre du
                            livre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="titre" placeholder="Ajouter un titre"
                                formControlName="titre" required>
                        </div>

                        <label for="auteur" class="col-sm-2 text-left control-label col-form-label">Auteur</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="auteur" placeholder="Nom de l'auteur"
                                formControlName="auteur" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="prix" class="col-sm-2 text-left control-label col-form-label">Prix</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="prix" placeholder="Prix du livre"
                                formControlName="prix" required>
                        </div>

                        <label for="domaine" class="col-sm-2 text-left control-label col-form-label">Domaine</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="domaine" placeholder="Choisir un domaine"
                                formControlName="domaine">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 text-left control-label col-form-label">Catégorie</label>
                        <div class="col-md-4">
                            <select class="select2 form-control custom-select" style="width: 100%; height:36px;" formControlName="category" required>
                                <option *ngFor="let category of allCategory" value="{{category.idCategory}}">{{category.category}}</option>
                            </select>
                        </div>

                        <label class="col-sm-2 text-left control-label col-form-label">Format</label>
                        <div class="col-md-4">
                            <select class="select2 form-control custom-select" style="width: 100%; height:36px;"
                                formControlName="format" required>
                                <option value="Ebook">Ebook</option>
                                <option value="Audio">Audio</option>
                                <option value="Document">Document</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-2 text-left control-label col-form-label">Sommaire du
                            livre</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" formControlName="sommaire"></textarea>
                        </div>

                        <label for="cono1" class="col-sm-2 text-left control-label col-form-label">Description du
                            livre</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-info" [disabled]="">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>