<section class="wrapper">
    <h3>Ajouter un Livre</h3>
    <div class="row " >
        <div class="col-lg-12">
            <div class="form-panel" style="padding: 3%;">
                <form [formGroup]="formulaire" (ngSubmit)="submitForm(formulaire)" novalidate class="form-horizontal style-form">
                <div class="form-group">
                        
                        <label class="control-label col-md-2">Image du livre</label>
                        <div class="col-md-3">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail"
                                    style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-theme02 btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> Choisir une
                                            image</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Changer</span>
                                        <input type="file" value="" formControlName="photo"    required class="default" />
                                    </span>
                                    <a href="#" class="btn btn-theme04 fileupload-exists"
                                        data-dismiss="fileupload"
                                        style="margin-left: 1%;"
                                        ><i class="fa fa-trash-o"></i> Supprimer</a>
                                </div>
                            </div>
                        </div>

                          
                    </div>
                    <div class="form-group padding">  
                        <label class="control-label col-md-2">Contenue du livre</label>
                        <div class="controls col-md-5">
                          <div class="fileupload fileupload-new" data-provides="fileupload">
                            <span class="btn btn-theme02 btn-file">
                              <span class="fileupload-new"><i class="fa fa-paperclip"></i> Choisir un fichier</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                            <input type="file" class="default"value=""formControlName="livre"   required />
                            </span>
                            <span class="fileupload-preview" style="margin-left:5px;"></span>
                            <a href="" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                        <label class="control-label col-md-2"> Titre du livre</label>
                        <div class="col-md-3 col-xs-11 ">
                            <input class="form-control form-control-inline input-medium " size="16"
                                type="text" value="" formControlName="titre"  required>
                        </div>
                    </div>
                        <label class="control-label col-md-2">Auteur du livre</label>
                        <div class="col-md-3 col-xs-11">
                            <input class="form-control form-control-inline input-medium " size="16"
                                type="text" value="" formControlName="auteur"   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Prix du livre</label>
                        <div class="col-md-3 col-xs-11">
                            <input class="form-control form-control-inline input-medium " size="16"
                                type="number" value="" formControlName="prix"  required>
                        </div>
                        <div>
                        <label class="control-label col-md-2">Domaine</label>
                        <div class="col-md-3 col-xs-11">
                            <input class="form-control form-control-inline input-medium " size="16"
                                type="text" value=""  formControlName="domaine"  required>
                        </div>
                    </div>
                    </div>
                 
                    <div class="form-group">
                        <label class="control-label col-md-2">Catégorie</label>
                        <div class="col-md-3 col-xs-11">
                            <select class="form-control form-control-inline input-medium " 
                                type="text" value="" formControlName="category"  required>
                            <option value="cate">item1</option>
                       </select>    
                        </div>
                        <div>
                        <label class="control-label col-md-2">Format</label>
                        <div class="col-md-3 col-xs-11">
                            <select class="form-control form-control-inline input-medium " 
                            type="text" value="" formControlName="format"  required>
                        <option value="cate">item1</option>
                         </select>    
                        </div> 
                    </div>                      
                    </div>
                    <div class="form-group">

                        <div class="col-md-5 col-xs-11">
                        <label class="control-label col-md-5" style="margin-bottom: 2%; margin-left: -4%;">Somaire du livre</label>
                        <textarea class="form-control form-control-inline input-medium " cols="10" rows="7" size="16"
                            type="text" value="" formControlName="somaire" ></textarea>
                    </div>
                    <div class="col-md-5 col-xs-11">
                        <label class="control-label col-md-5" style="margin-bottom: 2%; margin-left: -4%;">Description du livre</label>
                        <textarea class="form-control form-control-inline input-medium " cols="10" rows="7" size="16"
                            type="text" value="" formControlName="description" ></textarea>
                    </div>
                    </div>
                   
                    <button type="submit" class="btn btn-theme btn-file" [disabled]="" >Enregistrer</button>
                </form>
            </div>
            <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
</section>
<!-- /wrapper -->



