
 <mat-card class="example-card col-md-12" >
<button  style="float: right; color: red;" (click)="fermer()" > <i class="mdi mdi-close" style="color: red;"></i> </button>
    <div mat-card-avatar class="example-header-image"></div>

  <mat-card-content>
  <div class="flex-container">
    <div class="div1">
  <img mat-card-image src="{{image}}{{detailLivre?.idLivre}}" alt="Image du livre" >


</div>

    <div class="div2">
      <mat-card-title style="color: #6a9bff;"> {{detailLivre?.titre}}</mat-card-title>

      <p> <b> Auteur:</b> {{detailLivre?.auteur}}</p>

      <p *ngIf="detailLivre?.prix >0"> <b>Prix:</b> {{detailLivre?.prix | currency:" ":true:"1.0"}} fcfa</p>
      <p *ngIf="detailLivre?.prix ==0"> <b>Gratuit</b></p>
      <b style="color: #000;">Catégorie:</b> {{detailLivre?.category?.category}}

    </div>


  </div>
  <h2 style="color: #6a9bff;">Description</h2>
<p>
  {{detailLivre.description}}
</p>
  </mat-card-content>
</mat-card>
