
<h1><a class="btn   " href="/accueil" > <i class="mdi mdi-arrow-left-box " style="zoom:3; color: #6a9bff;" ></i> </a>Liste des librairies 
<a class=" mx-2" style=" float: right;" (click)="add()" > <i class= "mdi mdi-plus-circle " style="zoom:1.0; color: #6a9bff;" ></i> Ajouter</a></h1>

<p-scrollPanel [style]="{width: '100%', height: '400px'}">

	<div>


        <div class="card-body">
      
      <div class="row justify-content-center">
          
          <mat-card class="mat-card card-hover col-md-2" *ngFor="let librairie of allLibrairie" style="margin: 10px;">
           <div  routerLink="/showlibrairy/{{librairie.idLibrairy}}">
              <img mat-card-image src="../../../assets/asset/images/libbbb.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                
                 <h2>{{librairie.nom}}</h2>
                 <div><i class="mdi mdi-email"></i> {{librairie.adresse}}</div>
                 <div><i class="mdi mdi-map-marker"></i> {{librairie.telephone}}</div>
                 <div><i class="mdi mdi-email"></i> {{librairie.email}}</div>
                
              </mat-card-content>
            </div>
            </mat-card>
      </div>

	</div>
    </div>

	<p-scrollTop target="parent" [threshold]="0" behavior='auto' icon="pi pi-arrow-up">
	</p-scrollTop>
</p-scrollPanel>
