
<div class="ctn">
    <div class="contact-wrapper">
      
      <div class="right_side" style="margin: auto;">
        <h3 style="color: white;">Entrez votre adresse e-mail ci-dessous et nous vous enverrons des instructions pour réinitialiser le mot de passe.</h3>
        <form #loginForm="ngForm" (ngSubmit)="valider()" novalidate autocomplete="nope">
          <div class="form-row">
            <input type="email" name="email" ngModel required autocomplete="no" >
            <span>Adresse Email</span>
          </div>
          <div class="form-row"></div>
          <div class="form-row"> 
            <button type="submit" style="font-size: 16px;">valider</button>
          </div>
        </form>
       
      </div>
    </div>
  </div>
  