<mat-card class="col-md-12">
    <mat-card-title-group>
        <mat-card-title>{{admin.nom}} {{admin.prenom}}</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/asset/images/users/user.png">
    </mat-card-title-group>
    <mat-card-content>

     <p> <b>Email :</b> {{admin.email}}</p>
     <p> <b>Email :</b> {{admin.telephone}}</p>
     <p> <b>Profile :</b> {{admin.role}}</p>
    <button class="btn btn-info">Modifier</button>
    <button class="btn btn-info" style="float: right;">Fermer</button>
    </mat-card-content>
  </mat-card>