

<a class="btn btn-info mb-2 mat-elevation-z12" href="/accueil" >Retour</a>
<div class="card">
  <div class="card-body">
    

    <div class="card">
      <h3>
      <a class=" mx-2" (click)="addadmin()"> <i class= "mdi mdi-plus-circle" style="zoom:2; color: #6a9bff;" ></i> Ajouter</a></h3>
                <p-table [value]="admins"[scrollable]="true" scrollHeight="400px" class="table table-striped table-bordered mat-elevation-z8" 
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="" styleClass="p-datatable-gridlines"
                [paginator]="true" currentPageReportTemplate="Afficher {first} sur {last} / {totalRecords} Enregistrements"
                [globalFilterFields]="['nom','prenom','telephone','role']"
               >
                    <ng-template pTemplate="header">
                        
                        <tr>
                          <th >
                              <p-columnFilter type="text"  field="nom"></p-columnFilter>
                          </th>
                          <th >
                              <p-columnFilter type="text" field="email"></p-columnFilter>
                          </th>
                          <th >
                              <p-columnFilter type="text" field="telephone"></p-columnFilter>
                          </th>
                          <th >
                              <p-columnFilter type="text" field="role"></p-columnFilter>
                          </th>
                      </tr>
                      <tr style="background-color: #6a9bff !important;color: white;">
                        <!-- <th style="min-width:100px">Image</th> -->
                        <th  pSortableColumn="titre" style="min-width:200px; background-color: #6a9bff;color: white;">Nom</th>
                        <th pSortableColumn="auteur" style="min-width:200px; background-color: #6a9bff;color: white;">email</th>
                        <th pSortableColumn="format" style="min-width:200px; background-color: #6a9bff;color: white;">Téléphone</th>
                        <th pSortableColumn="category.category" style="min-width:200px; background-color: #6a9bff;color: white;">Rôle</th>
                        <!-- <th pSortableColumn="typeActeur" style="min-width:200px; background-color: #6a9bff;color: white;">Prix</th> -->
                        <th  style="min-width:200px; background-color: #6a9bff;color: white;">Action</th>

                    </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-admin >
                        <tr style="">
                            <!-- <td style="min-width:100px"><img src="{{image}}{{livre.idLivre}}" style="height: 60px;" ></td> -->
                            <td style="min-width:200px">{{admin?.nom}} {{admin?.prenom}}</td>
                            <td style="min-width:200px">{{admin?.email}}</td>
                            <td style="min-width:200px">{{admin?.telephone}}</td>
                            <td style="min-width:200px">{{admin?.role}}</td>
                            <!-- <td style="min-width:200px">{{livre?.prix}}</td> -->
                            <td>
                              <a class="btn" (click)="show(admin.idAdmin)"  style="margin-left: 4%;"><i class="mdi mdi-eye" style="zoom:1.5; color: #000;" ></i></a>
                              <a class="btn" (click)="update(admin.idAdmin)" style="margin-left: 4%;"><i class="mdi mdi-border-color" style="zoom:1.5; color: #b06aff;"></i></a>
                              <a class="btn" (click)="delete(admin.idAdmin)"  style="margin-left: 4%;"><i class="mdi mdi-delete" style="zoom:1.5; color: red;"></i></a>
                           </td>
                        </tr>
                      </ng-template>
                      
                    </p-table>

                
            </div>
      </div>
  </div>
