<div class="row">
    <div class="col-md-6 col-lg-4 col-xlg-3 my-2" routerLink="/byformat/Ebook">
        <mat-card class="example-card card-hover" >
            <mat-card-title-group>
                <img mat-card-md-image src="../../assets/asset/images/images.jpg" >
              <mat-card-title>Ebooks</mat-card-title>
              <mat-card-subtitle>Total : {{nombreEbook}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xlg-3 my-2" routerLink="/byformat/Audio">
      <mat-card class="example-card card-hover" >
          <mat-card-title-group>
              <img mat-card-md-image src="../../assets/asset/images/audio1.png" >
            <mat-card-title>Audio Books</mat-card-title>
            <mat-card-subtitle>Total : {{nombreAudiobook}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-md-6 col-lg-4 col-xlg-3 my-2" routerLink="/listlibrary">
    <mat-card class="example-card card-hover" >
            <mat-card-title-group>
                <img mat-card-md-image src="../../assets/asset/images/document1.jpg" >
              <mat-card-title>Article et Mémoire</mat-card-title>
              <mat-card-subtitle>Total : {{nombreDocument}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xlg-3 my-2">
        <mat-card class="example-card card-hover" >
            <mat-card-title-group>
                <img mat-card-md-image src="../../assets/asset/images/article.png" >
              <mat-card-title>Cours</mat-card-title>
              <mat-card-subtitle>Total : 0</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xlg-3 my-2">
      <mat-card class="example-card card-hover" >
          <mat-card-title-group>
              <img mat-card-md-image src="../../assets/asset/images/book3.jpg" >
            <mat-card-title> Librairies</mat-card-title>
            <mat-card-subtitle>Total : {{nombreLibrairy}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
  </div>
    <div class="col-md-6 col-lg-4 col-xlg-3 my-2">
        <mat-card class="example-card card-hover" >
            <mat-card-title-group>
                <img mat-card-md-image src="../../assets/asset/images/doc 2.png" >
              <mat-card-title>Autres</mat-card-title>
              <mat-card-subtitle>Total : 0</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>

</div>