

<div class="ctn">
    <div class="contact-wrapper">
      <div class="left_side">
        <img  src="../../../assets/asset/images/Virtual_biblio2.png" style="width:200px; background-color: #6A9BFF;">
      </div>
      <div class="right_side">
        <h2>Authentification</h2>
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate autocomplete="nope">
          <div class="form-row">
            <input type="text" name="login" ngModel  autocomplete="off" required >
            <span>Nom d'utilisateur</span>
          </div>
          <div class="form-row">
            <input type="password" name="password" ngModel required >
            <span>Mot de passe</span>
          </div>
          <div class="form-row"></div>
          <div class="form-row">
            <button type="submit" style="font-size: 16px;">Connexion</button>
          </div>
        </form>
        <div class="socials-wrapper">
          <h2><a class="btn" (click)="forgotPsd()" >Mot de passe oublié ?</a> </h2>

        </div>
      </div>
    </div>
  </div>
