<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-light" style="background-image: url('../../../assets/asset/ima ges/bg-img.jpeg');  background-repeat: no-repeat;">
  <div class="auth-box bg-dark  border-secondary p-t-10 " style="opacity: 0.9;">
      <div id="loginform">
          <div class="text-center   " >
              <span class="db py-3" ><img src="../../../assets/asset/images/logo-icon.png" class="pb-3" alt="logo" /></span>
          </div>
          <!-- Form -->
          <form class="form-horizontal p-t-20" id="loginform" action="index.html"  #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate autocomplete="nope">
              <div class="row">
                  <div class="col-12">
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-secondary text-white" id="basic-addon1"><i class="ti-user"></i></span>
                          </div>
                          <input type="text" class="form-control form-control-lg" placeholder="Veuillez saisir votre Login" name="login" ngModel  autocomplete="off" autofocus aria-label="login" aria-describedby="basic-addon1" required="">
                      </div>
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-secondary text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                          </div>
                          <input type="password" class="form-control form-control-lg" placeholder="Veuillez saisir votre mot de passe" name="password" ngModel required aria-label="Password" aria-describedby="basic-addon1" required="">
                      </div>
                  </div>
              </div>
              <div class="row border-top border-secondary pt-3">
                  <div class="col-12">
                      <div class="form-group">
                          <div class="p-t-20">
                              <button class="btn btn-danger" id="to-recover" type="button"><i class="fa fa-lock m-r-5"></i> Lost password?</button>
                              <button class="btn btn-info float-right" type="submit">Connexion</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div id="recoverform">
          <div class="text-center">
              <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
          </div>
          <div class="row m-t-20">
              <!-- Form -->
              <form class="col-12" action="index.html">
                  <!-- email -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                      </div>
                      <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <!-- pwd -->
                  <div class="row m-t-20 p-t-20 border-top border-secondary">
                      <div class="col-12">
                          <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
                          <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>



<script>

  $('[data-toggle="tooltip"]').tooltip();
  $(".preloader").fadeOut();
  // ============================================================== 
  // Login and Recover Password 
  // ============================================================== 
  $('#to-recover').on("click", function() {
      $("#loginform").slideUp();
      $("#recoverform").fadeIn();
  });
  $('#to-login').click(function(){
      
      $("#recoverform").hide();
      $("#loginform").fadeIn();
  });
  </script>